body{
    font-family: "Manrope", "Outfit", sans-serif;
    margin: 0;
    height: 100%;

    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(78, 159, 61, 1) 50%, rgba(216, 233, 168, 1) 110%);
}


img {
    max-width: 100%;
    height: auto;
}

#logo{
    height:80px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    overflow:hidden;
    object-fit: cover;
}


#mygroups{
    height: 40px;
    width: 20%;
    margin: 10px;
    background-color: #01204e00;
    color: white;
    border-radius: 10px;

    border: none;
    font-size: 15px;

    font-family: "Manrope";
}

#profile{
    border: 1px solid darkgray;
    background-color: none;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.top-buttons{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.top-right{
    display:flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.top-right a{
    
    color:#ededed;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    color: white;
    margin: 0px;
}

